---
Checks:          'clang-diagnostic-*,clang-analyzer-*,apple-*,objc-*,bugprone-*,performance-*,security-*,-clang-analyzer-security.insecureAPI.strcpy'
WarningsAsErrors: ''
HeaderFilterRegex: 'ATProtoPDS/Sources/.*'
AnalyzeTemporaryDtors: false
FormatStyle:     none
CheckOptions:
  - key:             bugprone-argument-comment.StrictMode
    value:           '0'
  - key:             bugprone-assert-side-effect.AssertMacros
    value:           assert,NSAssert,__assert
  - key:             bugprone-dangling-handle.HandleClasses
    value:           'std::basic_string_view;std::experimental::basic_string_view'
  - key:             bugprone-string-constructor.LargeLengthThreshold
    value:           '8388608'
  - key:             bugprone-string-constructor.WarnOnLargeLength
    value:           '1'
...
