[submodule "secp256k1"]
	path = vendor/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "vendor/reference/gnustep-base"]
	path = vendor/reference/gnustep-base
	url = https://github.com/gnustep/libs-base.git
[submodule "vendor/reference/gnustep-corebase"]
	path = vendor/reference/gnustep-corebase
	url = https://github.com/gnustep/libs-corebase.git
[submodule "vendor/reference/libobjc2"]
	path = vendor/reference/libobjc2
	url = https://github.com/gnustep/libobjc2.git
[submodule "vendor/secp256k1"]
	path = vendor/secp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "packages/gruszka"]
	path = packages/gruszka
	url = git@github.com:jvalinsky/garazyk-gruszka.git
[submodule "packages/hamownia"]
	path = packages/hamownia
	url = git@github.com:jvalinsky/garazyk-hamownia.git
[submodule "packages/laweta"]
	path = packages/laweta
	url = git@github.com:jvalinsky/garazyk-laweta.git
[submodule "packages/narzedzia"]
	path = packages/narzedzia
	url = git@github.com:jvalinsky/garazyk-narzedzia.git
[submodule "packages/schemat"]
	path = packages/schemat
	url = git@github.com:jvalinsky/garazyk-schemat.git
[submodule "packages/tiles"]
	path = packages/tiles
	url = git@github.com:jvalinsky/garazyk-tiles.git
[submodule "packages/tui"]
	path = packages/tui
	url = git@github.com:jvalinsky/garazyk-tui.git
	branch = monorepo-split
