//
//  ATProtoPDS.xcconfig
//  Build configuration for ATProto PDS
//

// Configuration settings - import in project.pbxproj
// Use: includeRoot("ATProtoPDS.xcconfig")

// SDK and Deployment
SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 13.0

// Product
PRODUCT_NAME = atprotopds
PRODUCT_BUNDLE_IDENTIFIER = com.atproto.pds
INFOPLIST_FILE = ATProtoPDS/Resources/Info.plist

// Build Settings
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_MODULES = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES

// Debug Settings
GCC_OPTIMIZATION_LEVEL = 0
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE
ONLY_ACTIVE_ARCH = YES
ENABLE_TESTABILITY = YES

// Release Settings
GCC_OPTIMIZATION_LEVEL = s
MTL_ENABLE_DEBUG_INFO = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// Frameworks
FRAMEWORK_SEARCH_PATHS = (
    $(inherited),
    "$(PROJECT_DIR)/secp256k1/build/lib"
)

// Header Search Paths
HEADER_SEARCH_PATHS = (
    "$(PROJECT_DIR)/ATProtoPDS/Sources",
    "$(PROJECT_DIR)/secp256k1/include"
)

// Compiler Flags
OTHER_CFLAGS = (
    $(inherited),
    "-fobjc-arc"
)

OTHER_LDFLAGS = (
    $(inherited),
    "-framework",
    Foundation,
    "-framework",
    AppKit,
    "-framework",
    Network,
    "-framework",
    Security,
    "-lsqlite3",
    "-lsecp256k1",
    "-L$(PROJECT_DIR)/secp256k1/build/lib"
)

// Build Output
BUILT_PRODUCTS_DIR = $(PROJECT_DIR)/build
DERIVED_FILE_DIR = $(PROJECT_DIR)/build
OBJROOT = $(PROJECT_DIR)/build
SYMROOT = $(PROJECT_DIR)/build
