<div class="table-wrapper">
  <table class="table">
    <thead>
      <tr>
        <th>Event ID</th>
        <th>Action</th>
        <th>Subject</th>
        <th>By</th>
        <th>Date</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      {{#each events}}
      <tr>
        <td class="text-xs"><code>{{id}}</code></td>
        <td><span class="badge">{{action}}</span></td>
        <td class="text-xs"><code>{{subject}}</code></td>
        <td class="text-xs">{{createdBy}}</td>
        <td class="text-xs">{{createdAt}}</td>
        <td class="text-xs">{{comment}}</td>
      </tr>
      {{/each}}
      {{#if events.length}}
      {{else}}
      <tr>
        <td colspan="6" class="text-center text-secondary">No moderation events found.</td>
      </tr>
      {{/if}}
    </tbody>
  </table>
</div>
